.note-editor-container {
  height: 100%;
  flex: 2;
  border-left: 1px solid gray;
  display: flex;
  flex-direction: column;
  user-select: none;
}

@media screen and (min-width: 1440px) {
  .note-editor-container {
    flex: 3;
  }
}

@media screen and (max-width: 768px) {
  .note-editor-container {
    border: none;
    width: 100%;
  }
}
