.note {
  border-bottom: 1px solid gray;
  width: 100%;
  padding: 1rem; 
  box-sizing: border-box;
}

.note h3 {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.note:hover {
  cursor: pointer;
}

.note.selected {
  background: #c9d4d1;
}