.note {
  border-bottom: 1px solid gray;
  width: 100%;
  padding: 0.5rem 1rem; 
  box-sizing: border-box;
  user-select: none;
}

.note .note-display-title,
.note .note-display-body  {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  margin-bottom: 0.3rem;
}

.note .note-display-body.hide {
  visibility: hidden;
}

.note:hover {
  cursor: pointer;
}

body[data-theme='dark-theme'] .note.active {
  background: var(--dark-theme-active-color);
}

body[data-theme='light-theme'] .note.active {
  background: var(--light-theme-active-color);
}