.icon-holder {
  position: relative;
  z-index: 200;
  height: auto; 
  display: flex;
}

.icon-holder svg {
  cursor: pointer;
  font-size: 1.5rem;
}

@media screen and (min-width:769px){
  .icon-holder:hover .tooltip {
    opacity: 1;
    transform: scale(1) translateX(-50%);
    visibility: visible;
  }
  
  .icon-holder .tooltip:hover {
    opacity: 0;
    transform: scale(0.9) translateX(-50%);
    visibility: hidden;
  }
}

