.text-group {
  font-size: 1.35rem;
}

.text-group .text-group-heading {
  font-size: 1.5rem;
  margin-bottom: 0.45rem;
}

.text-group p {
  line-height: 1.35;
}

.text-group a {
  border-bottom: 2px solid var(--light-theme-text-color);
  display: inline-block;
  margin-bottom: 0.2rem;
  padding-bottom: 0.025rem;
  text-decoration: none;
}