.note-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow-y: scroll;
  width: 100%;
  --ms-overflow-style: none; 
  scrollbar-width: none
}

.note-list.active {
  justify-content: flex-start;
  --ms-overflow-style: none; 
  scrollbar-width: none
}

.note-list::-webkit-scrollbar,
.note-list.active::-webkit-scrollbar {
  display: none;
}