.menu-drawer.dark-theme {
  background-color: var(--dark-theme-background-color);
  color: var(--dark-theme-text-color);
}

.menu-drawer {
  height: 100%;
  width: 300px;
  background-color: var(--light-theme-background-color);
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 250ms ease;
  border-right: 1px solid gray;
  z-index: 10;
}

.menu-drawer.active {
  transform: translateX(0%);
}

.menu-drawer .navigation {
  border-top: 1px solid gray;
  margin-top: 2.75rem;
}

.menu-drawer .navigation ul li a {
  color: var(--light-theme-text-color);
  text-decoration: none;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.menu-drawer.dark-theme ul li a {
  color: var(--dark-theme-text-color);
}

.menu-drawer .navigation ul li {
  border-bottom: 1px solid gray;
  height: 2.5rem;
  display: flex;
  align-items: center;
}

.menu-drawer .navigation ul li a,
.menu-drawer .navigation ul li span {
  margin-left: 1rem;
}

.menu-drawer .navigation ul li span {
  margin-right: 0.5rem;
}

.navbar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  z-index: 9;
}
