.menu-drawer {
  height: 100%;
  width: 300px;
  background-color: var(--light-theme-background-color);
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 250ms ease;
  border-right: 1px solid gray;
  z-index: 100;
}

body[data-theme='dark-theme'] .menu-drawer {
  background-color: var(--dark-theme-background-color);
  color: var(--dark-theme-text-color);
}

.menu-drawer.active {
  transform: translateX(0%);
}

.menu-drawer .navigation {
  border-top: 1px solid gray;
  margin-top: calc(2.75rem - 1px);
}

.menu-drawer .navigation ul li a {
  color: var(--light-theme-text-color);
  text-decoration: none;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}

body[data-theme='dark-theme'] .menu-drawer .navigation ul li a.link-active {
  background: var(--dark-theme-active-color);
}

body[data-theme='light-theme'] .menu-drawer .navigation ul li a.link-active {
  background: var(--light-theme-active-color);
}

body[data-theme='dark-theme'] .menu-drawer ul li a {
  color: var(--dark-theme-text-color);
}

.menu-drawer .navigation ul li {
  border-bottom: 1px solid gray;
  height: 3rem;
  align-items: center;
}

.menu-drawer .navigation ul li a,
.menu-drawer .navigation ul li span {
  padding-left: 1rem;
  font-size: 1.1rem;
}

.menu-drawer .navigation ul li span {
  margin-right: 0.5rem;
}

.navbar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  z-index: 9;
}
