.search-field-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  align-self: none;
  border-bottom: 1px solid gray;
}

.search-field-container .search-field {
  width: 90%;
  font-size: 1.2rem;
  border: none;
  outline: none;
  background: transparent;
}

.search-field-container .search-field.dark-theme,
.search-field-container .search-field.dark-theme::placeholder {
  color: var(--dark-theme-text-color);
}

.search-field-container .search-icon {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.search-field-container .clear-search-field {
  margin-left: 0.5rem;
  opacity: 0;
}

.search-field-container .clear-search-field.active {
  opacity: 1;
  cursor: pointer;
}